<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WIndowsFormsUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <WIndowsFormsUI.Properties.Settings>
            <setting name="playerName" serializeAs="String">
                <value>YourName</value>
            </setting>
            <setting name="level" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="deckType" serializeAs="String">
                <value>Classic</value>
            </setting>
            <setting name="cardBack" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="sound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="notifications" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="character" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="totalGamesVersusEasy" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="totalWinsVersusEasy" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="totalGamesVersusNormal" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="totalWinsVersusNormal" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="totalGamesVersusHard" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="totalWinsVersusHard" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="totalRoundWinsVsEasy" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="totalRoundLossesVsEasy" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="totalRoundWinsVsNormal" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="totalRoundLossesVsNormal" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="totalRoundWinsVsHard" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="totalRoundLossesVsHard" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lastUpdate" serializeAs="String">
                <value>10/13/2016 19:26:00</value>
            </setting>
        </WIndowsFormsUI.Properties.Settings>
    </userSettings>
</configuration>